.loginContainer {
    display: flex;
    flex-direction : column;
    justify-content:center;
    height: 30em;
    width: 30em;
    align-items: center;
    background-color: #21D375;
  }

.login-btn {
    background-color: #ffc107;
    color: #000000;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 1px;
    cursor: pointer;
  }

.loginInput {
  border: 1px solid grey;
}