.headerContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 4em;
    width: 100vw;
    background-color: #21D375;
}

.headerLogo{
    display: flex;
    align-items: center;
    font-size: large;
    margin-right: 2%;
}

.headerRow{
    display: flex;
    flex-direction: row;
    flex-grow: 2;
}

.headerElement{
    padding: 0.5em;;
    border-radius: 3px;
}

.headerElement:hover{
    color :#21D375;
    background-color: black;
}

a{
    text-decoration: none;
    color: black;
}
